/*--------------------------------------
// reset start
//-------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/*--------------------------------------
// reset end
//-------------------------------------*/


body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #eee;
  margin: 0;
  padding: 0;
  font-size: 16pt;
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: #ef9e82;
  color: #ff4c4c;
  margin: auto;
  width: 350px;
  height: 70px;
  font-weight: 700;
  margin-bottom: 40px;
}

ul li, form  {
  box-shadow: .5px .5px 5px #ccc;
  display: grid;
  grid-template-columns: 7fr 1fr;
  background-color: #fff;
  height: 50px;
  border-bottom: .5px solid #999;
  border-top: .5px solid #999;
  border-left: .5px solid #ddd;
  border-right: .5px solid #ddd;
  padding: 10px;
  width: 350px;
  margin: 0 auto;
  padding: 10px 5px;
  height: auto;
}

button {
    grid-column-start: 6;
    border-radius: 90%;
    background-color: #f44336;
    height: 2em;
    width: 2em;

}

button: active{
    background: olive;
}

button: focus {

    background: orange;
    border-color: yellowgreen;
}

form {
    margin-top: 20px;
}

li {
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 1.5em;
  color: grey;
}

li span {
  font-size: .9em;
  max-width: 310px;
  word-wrap: break-word;

}

form#add-todo {
  line-height: 4px;
  padding: 3px;
  background: #ff4c4c;
}

form#add-todo input {
    color: black;
    font-weight: 300;
    padding: 10px;
    font-size: 1em;

}

form#add-todo input[type="submit"] {
  color: #fff;
  background: #ff4c4c;
  border: 1px solid #ff4c4c;
  width: 88.36px;
  height: 44px;
}

form.input .done {
  background: gray;
}

/*test*/
form#add-todo input[type="submit"] {
    color: #fff;
    background: #ff4c4c;
    border: 1px solid #ff4c4c;
    /* width: 88.36px; */
    height: 44px;
    margin: 0;
    text-align: right;

}
/*test*/

form#add-todo input {
  width: 11em;
}

submit {
  padding: 10px 7px 10px;
}
